<div class="container">
<div class="getinthemiddle">
      <%= link_to image_tag('/images/cslogo2.png', :alt => "Classified Spectacular"), root_path %>
      
      <div id="signinbox">
      <div class="container">
          <br/>

          <span class="formheader">Enter Email Address Below</span><br/><br/>
          <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  			<%= devise_error_messages! %>

          <div class="form-group">
          <%= f.email_field :email, :autofocus => true, class: "form-control" %>
          </div>
			<br/>
          <div class="form-group">
          <%= f.submit "Send Reset Instructions" , class: "btn btn-success btn-lg" %></div>
          <% end %>
      <br/>
    </div>
    </div>

</div> 
</div>
