<div class="container">
<div class="getinthemiddle">
      <%= link_to image_tag('/images/cslogo2.png', :alt => "Classified Spectacular"), root_path %>
      
      <div id="signinbox">
      <div class="container">
          <br/>
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

          <div class="form-group">
          <span class="formheader"><%= f.label :email %></span>
          <%= f.email_field :email, :autofocus => true, class: "form-control" %>
          </div>

          <div class="form-group">
          <span class="formheader"><%= f.label :password %></span>
          <%= f.password_field :password, class: "form-control" %>
          </div>

          <div class="form-group">
          <%= f.submit "Sign In", class: "btn btn-success btn-lg" %></div>
          <% end %>

          <div class="form-group">
          <%= render "devise/shared/links" %>
          </div>
    </div>
    </div>

</div> 
</div>

